Source: curl
Version: 7.66.0-1
Build-Depends: zlib
Homepage: https://github.com/curl/curl
Description: A library for transferring data with URLs
Default-Features: ssl

Feature: tool
Description: Builds curl executable

Feature: non-http
Description: Enables protocols beyond HTTP/HTTPS/HTTP2

Feature: ssl
Build-Depends: curl[openssl] (!windows&!osx), curl[winssl] (windows), curl[sectransp] (osx)
Description: Default SSL backend

# SSL backends
Feature: openssl
Build-Depends: libressl
Description: SSL support (LibreSSL)

Feature: winssl
Description: SSL support (Secure Channel / "WinSSL")

Feature: sectransp
Description: SSL support (sectransp)

Feature:sspi
Description: SSPI support 
