Source: netcdf-c
Version: 4.7.4-1
Description: a set of self-describing, machine-independent data formats that support the creation, access, and sharing of array-oriented scientific data.
Build-Depends: zlib

Feature: hdf5
Description: Hdf5 support
Build-Depends: hdf5

Feature: tools
Description: Netcdf utilities

Feature: parallel
Description: Parallel io support
Build-Depends: hdf5[parallel]
