Source: netcdf-c
Version: 4.7.4
Description: a set of self-describing, machine-independent data formats that support the creation, access, and sharing of array-oriented scientific data.
Build-Depends: netcdf-c

Feature: hdf5
Description: Hdf5 support
Build-Depends: hdf5

Feature: parallel
Description: Parallel io support
Build-Depends: hdf5[parallel]